#wrapper {
	width: 100%;
	margin: 0 auto;
    display: block;
    border: none;
}

div
{
    width: 100%;
    margin: 5px auto;
    display: table;
}

div.tagname {
    float : left;
    width : 20%;
    border: none;
    margin: 0px 10px;
    
}

div.childcount {
    float : left;
    width : 20%;
    border: none;
    margin: 0px 10px;
}

div.tagattributes {
    float : left;
    width : 20%;
    border: none;    
    margin: 0px 10px;
}

div.tagremove {
    float : right;
    width : 1%;
    border: none;    
    margin: 0px 5px;  
}

div.tagadd {
    float : right;
    width : 1%;
    border: none;    
    margin: 0px 5px;  
}

div.tagheader {
    margin : 0;
    width : 100%;
    border: 3px solid #000;
    border-style: solid solid none solid;
    -moz-border-radius: 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -khtml-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;     
}

div.tagbody {
    margin : 0;
    width : 100%;
    border-style: none solid solid solid;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -khtml-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;  
    min-height: 10px;
}

div.tagcontents {
    margin-left : 10px;
}

div.tagcontainer {
    border: none;      
}

